<body>
    <h1>興味のあるお題を複数選んでください</h1>
    <%= form_tag("/topic/generate", {multipart: true}) do %>

        <% @topics.each do |topic| %>
        <input type="checkbox" id="<%= topic.id %>" name="<%= topic.id %>">
        <label for="<%= topic.id %>"><%= topic.content %></label>
        <% end %>

        <input type="submit">
    <% end %>

</body>
</html>